/* BASE_230 | GRID | 230_BASE | COLUMN - 2016-08-08 */

// -------------------------------------
// EXTEND

// SPACE-ZERO

	%column-last {
		margin-right: 0;
	}

// LISTSTYLE-ZERO

	%grid-liststyle {
		list-style-type: none;
	}

// FULL

	%column-full {
		width: 100%;
		@extend %column-last !optional;
		@extend %column-guide !optional;
	}
	%push-full {
		@extend %push-guide !optional;
	}

// HALF

	%column-half {
		@include span(6 of 12);
		@extend %column-guide !optional;
	}
	%push-half {
		@include push(6 of 12);
		@extend %push-guide !optional;
	}

// THIRD

	%column-third {
		@include span(4 of 12);
		@extend %column-guide !optional;
	}
	%push-third {
		@include push(4 of 12);
		@extend %push-guide !optional;
	}

		%column-twothirds {
			@include span(8 of 12);
			@extend %column-guide !optional;
		}
		%push-twothirds {
			@include push(8 of 12);
			@extend %push-guide !optional;
		}

// FOURTH

	%column-fourth {
		@include span(3 of 12);
		@extend %column-guide !optional;
	}
	%push-fourth {
		@include push(3 of 12);
		@extend %push-guide !optional;
	}

		%column-threefourths {
			@include span(9 of 12);
			@extend %column-guide !optional;
		}
		%push-threefourths {
			@include push(9 of 12);
			@extend %push-guide !optional;
		}

// FIFTH

	%column-fifth {
		@include span(1 of 5);
		@extend %column-guide !optional;
	}
	%push-fifth {
		@include push(1 of 5);
		@extend %push-guide !optional;
	}

		%column-twofifths {
			@include span(2 of 5);
			@extend %column-guide !optional;
		}
		%push-twofifths {
			@include push(2 of 5);
			@extend %push-guide !optional;
		}

		%column-threefifths {
			@include span(3 of 5);
			@extend %column-guide !optional;
		}
		%push-threefifths {
			@include push(3 of 5);
			@extend %push-guide !optional;
		}

		%column-fourfifths {
			@include span(4 of 5);
			@extend %column-guide !optional;
		}
		%push-fourfifths {
			@include push(4 of 5);
			@extend %push-guide !optional;
		}

// SIXTH

	%column-sixth {
		@include span(2 of 12);
		@extend %column-guide !optional;
	}
	%push-sixth {
		@include push(2 of 12);
		@extend %push-guide !optional;
	}

		%column-fivesixths {
			@include span(10 of 12);
			@extend %column-guide !optional;
		}
		%push-fivesixths {
			@include push(10 of 12);
			@extend %push-guide !optional;
		}

// EIGHT

	%column-eight {
		@include span(1 of 8);
		@extend %column-guide !optional;
	}
	%push-eight {
		@include push(1 of 8);
		@extend %push-guide !optional;
	}

// TWELVE

	%column-twelve {
		@include span(1 of 12);
		@extend %column-guide !optional;
	}
	%push-twelve {
		@include push(1 of 12);
		@extend %push-guide !optional;
	}

		%column-eleventwelves {
			@include span(11 of 12);
			@extend %column-guide !optional;
		}
		%push-eleventwelves {
			@include push(11 of 12);
			@extend %push-guide !optional;
		}

// -------------------------------------
// SELECTORS

// FULL

	.full {
		@extend %column-full !optional;
	}

// HALF

	.half {
		@extend %column-half !optional;
	}
	.half-push {
		@extend %push-half !optional;
	}

// THIRD

	.third {
		@extend %column-third !optional;
	}
	.third-push {
		@extend %push-third !optional;
	}

		.twothirds {
			@extend %column-twothirds !optional;
		}
		.twothirds-push {
			@extend %push-twothirds !optional;
		}

// FOURTH

	.fourth {
		@extend %column-fourth !optional;
	}
	.fourth-push {
		@extend %push-fourth !optional;
	}

		.threefourths {
			@extend %column-threefourths !optional;
		}
		.threefourths-push {
			@extend %push-threefourths !optional;
		}

// FIFTH

	.fifth {
		@extend %column-fifth !optional;
	}
	.fifth-push {
		@extend %push-fifth !optional;
	}

		.twofifths {
			@extend %column-twofifths !optional;
		}
		.twofifths-push {
			@extend %push-twofifths !optional;
		}

		.threefifths {
			@extend %column-threefifths !optional;
		}
		.threefifths-push {
			@extend %push-threefifths !optional;
		}

		.fourfifths {
			@extend %column-fourfifths !optional;
		}
		.fourfifths-push {
			@extend %push-fourfifths !optional;
		}

// SIXTH

	.sixth {
		@extend %column-sixth !optional;
	}
	.sixth-push {
		@extend %push-sixth !optional;
	}

		.fivesixths {
			@extend %column-fivesixths !optional;
		}
		.fivesixths-push {
			@extend %push-fivesixths !optional;
		}

// SIXTH

	.eight {
		@extend %column-eight !optional;
	}
	.eight-push {
		@extend %push-eight !optional;
	}

// TWELVE

	.twelve {
		@extend %column-twelve !optional;
	}
	.twelve-push {
		@extend %push-twelve !optional;
	}

		.eleventwelves {
			@extend %column-eleventwelves !optional;
		}
		.eleventwelves-push {
			@extend %push-eleventwelves !optional;
		}