/* BASE_230 | LAYOUT | 230_MODEL-BASICSETUP | MENUTOGGLE - 2017-02-13 */
// BASE_230 | MENU | 230_BASE

// -------------------------------------
// EXTEND

	%both-toggle {
		@include responsive-range(medup) {
			display: none;
			visibility: hidden;
		}
		@include responsive-range(medbelowdown) {
			display: block;
			overflow: hidden;
			visibility: visible;
		}
	}
	%menu-toggle {
		width: 100%;
		text-align: center;
	}
	%submenu-toggle {}

	%both-button-toggle {
		padding: 0;
		margin: 0;

		@include responsive-range(medbelowdown) {
			background-color: #c4e4f9;
			//background-color: transparent;
		}
	}
	%menu-button-toggle {}
	%submenu-button-toggle {
		@include responsive-range(medbelowdown) {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	%menu-toggle-before {
		@include responsive-range(medbelowdown) {
			//content: "\2261";
			content: 'menu';
			//background-color: yellow;
			color: #666;
		}
	}
	%menu-toggle-activatedbefore {
		@include responsive-range(medbelowdown) {
			//content: "\2191";
			content: 'arrow_upward';
			//background-color: gold;
			color: #666;
		}
	}

	%submenu-toggle-before {
		@include responsive-range(medbelowdown) {
			//content: "+";
			content: 'expand_more';
			//background-color: pink;
			color: #999;
		}
	}
	%submenu-toggle-activatedbefore {
		@include responsive-range(medbelowdown) {
			//content: "-";
			content: 'expand_less';
			//background-color: orange;
			color: #999;
		}
	}

// -------------------------------------
// SELECTORS

	.menu-toggle {
		@extend %both-toggle !optional;
		@extend %menu-toggle !optional;
	}
	.sub-menu-toggle {
		@extend %both-toggle !optional;
		@extend %submenu-toggle !optional;
	}

	button.menu-toggle {
		@extend %both-button-toggle !optional;
		@extend %menu-button-toggle !optional;
	}
	button.sub-menu-toggle {
		@extend %both-button-toggle !optional;
		@extend %submenu-button-toggle !optional;
	}

	.menu-toggle:before {
		@extend %material-icons !optional;
		@extend %menu-toggle-before !optional;
	}
	.menu-toggle.activated:before {
		@extend %material-icons !optional;
		@extend %menu-toggle-activatedbefore !optional;
	}

	.sub-menu-toggle:before {
		@extend %material-icons !optional;
		@extend %submenu-toggle-before !optional;
	}
	.sub-menu-toggle.activated:before {
		@extend %material-icons !optional;
		@extend %submenu-toggle-activatedbefore !optional;
	}